<div class="top-bar bg-light py-2 border-bottom">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      
      <!-- Left Section -->
      <div class="col-12 col-md-6 mb-2 mb-md-0">
        <div class="left-text small">
          Welcome visitor, you can 
          <a href="#">Log in</a> or 
          <a href="#">Create an Account</a>
        </div>
      </div>

      <!-- Right Section -->
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end flex-wrap align-items-center gap-3">
        <span class="small">Call us: <strong>(123) 456-7890</strong></span>
        <a href="#">Orders</a>
        <a href="#" class="cart-icon"><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
</div>